<h2>Platillo <%=@platillo.nombre%></h2>
<hr>

<%= link_to "Regresar", platillos_path%>
<hr>

<p>Descripción: <%=@platillo.descripcion%></p>
<p>Promocion: <%=@platillo.promocion%></p>
<p>Precio: <%=@platillo.precio%></p>
<p>Tipo: <%=@platillo.tipo%></p>

<%= link_to "Editar", edit_platillo_path(@platillo) %></li>
<%= link_to "Eliminar", platillo_path(@platillo), data: {
    turbo_method: :delete,
    turbo_confirm: "Estas seguro de eliminar el platillo ?"
} %>